:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--red: #EB212E;
	--orange: #ff8303;
	--teel: #7fffd4;
	--dodgerblue: #1e90ff;
	--olivegreen: #556b2f;
	--seagreen: #3cb371;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Consolas";
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
	border-left: var(--darker);
	border-right: var(--darker);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

header h3{ 
	font-size: 1rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1.5rem;
}

.subhead { 
	display: inline;
	font-size: 0.75rem;
	font-weight: 300;
	color: var(--grey);
}

#new-item-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-item-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-item-input::placeholder {
	color: var(--grey);
}

#new-item-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(180deg, var(--seagreen), var(--olivegreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-item-submit:hover {
	opacity: 0.8;
}

#new-item-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.item-list {
	padding: 1rem;
}

.item-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#items .item {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	will-change: transform;
	cursor: crosshair;
	transition: all 200ms;
	margin: 10px auto;
	position: relative;
}

#items .item .content {
	flex: 1 1 0%;
}

#items .item .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

#items .item .content .text:not(:read-only) {
	color: var(--pink);
}

#items .item .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.item .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.item .actions button:hover {
	opacity: 0.8;
}

.item .actions button:active {
	opacity: 0.6;
}

.item .actions .edit {
	background-image: linear-gradient(180deg, var(--dodgerblue), var(--teel));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.item .actions .delete {
	color: crimson;
}